<div class="grid">

  <div class="app-logo">
    <img src="<%= image_path 'app-logo.png' %>">
  </div>

  <h1>A team results</h1>

  <div class="team-container">
    <% if @postulants %>
        <% @postulants.each_with_index do |postulant, i| %>
            <div class="team-block">
              <%= image_tag postulant.avatar.url(:thumb) %>
              <div class="team-name"><%= postulant.name %></div>
              <div class="team-role"><%= @positions[i] %></div>
              <div class="team-skills">Commitment: <%= rand(1..5) %></div>
              <div class="team-skills">Social: <%= rand(1..5) %></div>
              <div class="team-skills">Productivity: <%= rand(1..5) %></div>
              <div class="team-skills">Personality: <%= @personality[i] %></div>
            </div>
        <% end %>
    <% end %>
  </div>


  <h3>Confirm team</h3>
  <div class="confirm-container">
    <a href="<%= root_path %>">yes</a>
    <a href="<%= root_path %>" class="redo">redo</a>
  </div>


</div>
